@import url(https://fonts.googleapis.com/css?family=Dosis);
@import url(https://fonts.googleapis.com/css?family=Philosopher);
@import url(https://fonts.googleapis.com/css?family=Alegreya+SC);
/*@import url(https://fonts.googleapis.com/css?family=Calligraphica);
*/
@import url(https://fonts.googleapis.com/css?family=Rye);
@import url(https://fonts.googleapis.com/css?family=Nosifer);
@import url(https://fonts.googleapis.com/css?family=Libre+Baskerville);

body {
  background-color:black;
}

#header {
  width: 100%;
  height: 60px;
  background-color: #333;
}

#header > h1 {
  padding: 5px;
  width: 1024px;
  color: rgba(162, 163, 224, 0.651);
  margin: 0 auto;
  text-align: center;
  font-family: Nosifer;
}

#container_ {
  margin-top: 5px;
  width: 1024px;
  height: 550px;
  border: 1px solid rgb(31, 9, 110);
  background-color: #fff;
  float: right;

  background-color: rgb(9, 6, 19);
  color: chartreuse;
  overflow: scroll;
  overflow-x: hidden;
  overflow-wrap: break-word;
  font-size: 14px;
  font-family: "Libre Baskerville";
  word-spacing: 3pt;
}

aside {
  float: left;
  color: rgba(15, 101, 170, 0);
  background-color: #000;
  width: 160px;
  height: 600px;
  border-radius: 10px;
  background-clip: padding-box;
  color: #000;
  font-weight: bolder;
  font-size: 10px;
  margin-left: 10px;
  margin-top: 5px;
}

aside > h3 {
  font-variant-caps: all-small-caps;
  text-decoration: none;
  padding: 5px;
  text-align: center;
  color: rgb(179, 105, 105);

  font-family: Dosis;
}

a:link {
  text-decoration: none;
}

.kash {
  -webkit-animation: colorchange ease-in 1s infinite reverse;
  animation: colorchange ease-in 1s infinite reverse;
}

@keyframes colorchange {
  0% {
    color: red;
  }
  20% {
    color: blue;
  }
  30% {
    color: pink;
  }
  40% {
    color: blue;
  }
  50% {
    color: skyblue;
  }

  75% {
    color: green;
  }
  100% {
    color: black;
  }
}

ul > li {
  margin-top: 5px;
  font-size: 15px;
  list-style-type: square;
}

#controls {
  float: right;
  margin: 0 auto;
  width: 1024px;
}

#textBox {
  width: 900px;
  resize: none;
  color: rgb(194, 178, 178);
  background-color: #1f1f1f;
  margin-top: 4px;
  margin-left: -6px;
}

#send {
  position: absolute;
  margin-top: 4px;
  margin-left: -6px;
}
.userName {
  color: rgb(216, 202, 177);
  font-weight: bold;
  font-family: "Alegreya SC";
}

.Bot {
  color: rgb(16, 250, 160);
  font-weight: bold;
  font-family: "Alegreya SC";
}
